
@{
    ViewData["Title"] = "About";
}

<div class="about-section">
    <h1>StajBul.com Hakkında</h1>
    <p>Öğrenciyken staj yeri bulmak bazen çok zor oluyor çünkü genelde ilan uygulamalarında mezun olmuş kişiler için ilanlar bulunuyor. Bunu kolaylaştırmak için sadece staj ilanlarının bulunduğu bir platform burası.Hem öğrenciler staj aradıklarını belirtmek için ilan oluşturabilirler hem stajyer arayan firmalar ilan oluşturabilirler.</p>
    <h1>İletişim</h1>
    <p><i class="fab fa-twitter mr-1"></i><a href="https://twitter.com/kutayyaman1">kutayyaman1</a></p>
    <p><i class="fas fa-envelope-square mr-1"></i>stajbulinfo@gmail.com</p>
</div>

