@{
    ViewData["Title"] = "Index";
}

@section SearchBar
{
    @Html.Partial("_SearchBar", (CategoryFilterModel)ViewBag.categoryFilterModel)
}
<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoryMenu", ViewBag.categoryFilterModel)
    </div>
    <div class="col-md-9">
        @await Component.InvokeAsync("AnnouncementList", ViewBag.categoryFilterModel)
    </div>
</div>


