@model User
@{
    ViewData["Title"] = "Completed";
}

<div class="bg-primary text-white m-1 p-1">
    <h2>Hoşgeldin @Model.UserName, Üyelik İşlemlerin Tamamlandı Artık İlan Verebilirsin.</h2>
</div>

