
@{
    ViewData["Title"] = "IForgetMyPassword";
}

<form method="post" asp-controller="User" asp-action="IForgetMyPassword">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label name="email">@Localizer["EnterYourMail"]</label>
        <input name="email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary btn-block">@Localizer["Send"]</button>
</form>

