
@{
    ViewData["Title"] = "IForgetMyPassword";
}

<form onclick="changed" method="post" asp-controller="User" asp-action="IForgetMyPassword">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label name="email">@Localizer["EnterYourMail"]</label>
        <input name="email" class="form-control" />
    </div>
    <button onclick="sendButtonClicked" id="sendButton" type="submit" class="btn btn-primary btn-block">@Localizer["Send"]</button>
</form>

<script>
    var sendButton = document.getElementById("sendButton");
    sendButton.addEventListener("click", sendButtonClicked);
    function sendButtonClicked(element) {
        sendButton.hidden = true;
    }

    function changed(element) {
        if (sendButton.hidden === true) {
            sendButton.hidden = false;
        }

    }
</script>