@model StajBul.Entity.Category
@{
    ViewData["Title"] = "Delete";
}


<div class="text-info">ID </div> @Model.Id
<div class="text-info">Kategori Adı </div> @Model.CategoryName
<h4>
    Silmek İstiyor Musunuz?
</h4>
<form asp-controller="Category" asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger btn-lg btn-block">Sil</button>
</form> 