@model StajBul.Entity.Category
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Kategori Güncelle</h1>
    <hr />

    <form asp-controller="Category" asp-action="EditPost" method="post">

        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="CategoryName">Kategori Adı</label>
            <input asp-for="CategoryName" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block mb-3">Güncelle</button>
    </form>

</div>



